.custom-logo-image {
  background: white;
  margin: 0 auto 10px;
  max-width: 150px;
  padding: 5px;
}

.brand {
  background: var(--btn-default-bg);
}

.header-inner {
  width: 100%;
  

  +mobile() {
    padding-top: 50px;
  }
}
.site-nav{
  //background-color:rgba(255,255,255,.75);
}

.site-brand-container{
  background:#222;
}
.site-title{
  font-size: 36px;
  padding-bottom: 8px;
}
.menu .menu-item .badge {
    //background: rgba(255,255,255,.75);
}

